@import "../../../styles/settings.scss";

.root {
  background-color: $color-hero;

  :global(.container)> :global(.row) {
    height: 700px;
    background-image: url("https://i.postimg.cc/LsJRCKzQ/header.jpg");
    background-size: cover;
    margin-bottom: 100px;
  }

  .titles {
    max-width: 380px;
    padding-bottom: 300px;
  }

  .subtitle {
    color: $color-header-text-2;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .title {
    color: $color-header-text;
    font-weight: bolder;
    font-size: 60px;
    line-height: 60px;
  }

  .description {
    padding-bottom: 230px;
    margin-right: 80px;
    width: 300px;
    font-size: 18px;
    color: $color-text;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .root {
    img {
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 357px) {
  .root {
    img {
      width: 90px;
    }
  }
}
