@import "../../../styles/settings.scss";

.root {
  background-color: $color-hero;

  :global(.container)> :global(.row) {
    height: 600px;
    background-image: url("https://i.postimg.cc/zXpvpxMB/header22.png");
    background-size: cover;
    margin-bottom: 100px;
  }

  .titles {
    max-width: 380px;
    margin-left: 200px;
    padding-bottom: 300px;
  }

  .subtitle {
    color: $color-header-text-2;
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .title {
    color: $color-header-text;
    font-weight: bolder;
    font-size: 90px;
    line-height: 70px;
  }
}

@media (max-width: 1200px) {
  .root {
    :global(.container) > :global(.row) {
      background-image: none;
      background-color: $color-hero;
    }
  }
}

@media (max-width: 768px) {
  .root {
    .titles {
      margin-left: 50px;
    }
    .subtitle {

    }
    .title {
      font-size: 50px;
    }
  }
}
