@import "../../../styles/settings.scss";

.title {
  color: $color-header-text;
  font-size: 30px;
  font-weight: bold;
  width: 60%;
  line-height: 30px;
  padding-bottom: 20px;
}

.description {
  padding-bottom: 20px;
}

.buttonArrow {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-header-text;

  span {
    padding-right: 10px;
  }
  &:hover {
    text-decoration: none;
    color: $color-dark-green;
  }
}

.imageBox1 {
  background-color: $color-button;
  height: 250px;
}

.imageBox2 {
  border: 20px solid $color-button;
  height: 250px;
}

@media (max-width: 768px) {

  .description {
    font-size: 14px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 20px;
  }

}

@media (max-width: 550px) {

    .imageBox1 {

      img {
        width: 150%;
      }
    }

  .imageBox2 {
    img {
      width: 225%;
    }
  }

  .description {
    font-size: 12px;
    height: 110px;
    overflow: hidden;
    margin-bottom: 20px;
   }
}

