@import "../../../styles/settings.scss";

.orderBox {
  width: 600px;
  padding: 20px;
  border: 4px solid $color-button;
  border-radius: 20px;
  background-color: $color-button;
}

.productBox {
  font-size: 30px;
  color: $color-button-text;
}

.deliveryBox {
  font-size: 30px;
  margin-bottom: 20px;
  color: $color-button-text;
}

.formGroup {

}

.label {
  text-transform: uppercase;
  width: 80px;
  color: $color-button-text;
  font-size: 15px;
  flex: 1;
}

.input {
  width: 450px;
  padding: 20px;
  flex: 5;
}

.summaryPrice {
  padding-right: 20px;
  font-size: 40px;
}

.buttonOrder {
  font-size: 15px;
  padding: 20px 95px;
  text-transform: uppercase;

}

@media (max-width: 770px) {
  .orderBox {
    width: 100%;
  }

  .input {
    width: 300px;
  }
}

@media (max-width: 460px) {

  .input {
    width: 100%;
  }

}
