$base-size: 14px;
$base-padding: 24px;

// COLORS
$color-hero: #c1e0df;
$color-header-text: #1c2d33;
$color-header-text-2: #7fa191;
$color-text: #000000;
$color-light-text: #ffffff;
$color-dark-blue: #8bb6c0;
$color-light-blue: #abc7dc;
$color-dark-green: #7ea497;
$color-light-green: #8fbdb3;
$color-background: #bdd3e5;
$color-button: #e5e9ea;
$color-button-text: #75818b;
$color-button-hover: #485256;
$color-button-text-light: #bac3ca;
$color-button-text-dark: #656e71;
$color-button-2: #f7f8f9;

//HOVER ANIMATIONS
//variables
$background-color-transition: 250ms;
$color-transition: 250ms;
$border-color-transition: 250ms;

%hoverAnimation {
  transition: background-color $background-color-transition linear, color $color-transition linear, border-color $border-color-transition linear;
  transform: translate(0, 0);
}

%backgroundAnimatable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  content: '';
  transition: opacity 1.5s ease-in-out;
}
