@import "../../../styles/settings.scss";

.box {
  background-color: $color-light-blue;
  height: 400px;
}

.boxText {
  line-height: 40px;

  .title {
    text-transform: uppercase;

    p {
      font-weight: bolder;
      font-size: 50px;
    }

    span {
      margin-left: 10px;
      font-size: 30px;
    }
  }

  .percent {
    font-size: 30px;
    span {
      font-weight: bold;
    }
  }
}

.boxImage {
  img {
    width: 350px;
    height: 400px;
  }
}

@media (max-width: 992px) {

  .box {
    height: auto;
  }

  .boxText {
    padding: 10px 10px;
  }

  .boxImage {
    img {
      width: 100%;
    }
  }
}
